{
  "identities": [
    {
      "name": "adminbackend",
      "credentials": [
        {
          "accessKey": "e7HpnjPIwLXPGvoxrqL7",
          "secretKey": "GWM9TjwKfaXAfOqpw7sUeJ4ueofAL29PDJtSevAU"
        }
      ],
      "actions": [
        "Read",
        "Write",
        "List",
        "Tagging",
        "Admin"
      ]
    }
  ]
}